*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Fraunces", serif;
    background-color: var(--cream);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.card-wrapper {
    padding: 5rem 0.81rem 10.75rem 0.81rem;
    box-sizing: border-box;
}